<%= form_for(@post_time) do |f| %>
    <div class="form-group">
      <%= f.label :"時間を追加" %>
      <%= f.select(:study_time,  -10..10,:selected=>0 )%>

    </div>
    <div>
      <%= f.submit '追加する', class:"btn btn-success" %>
    </div>
  <% end %>