
<h2>ユーザー一覧</h2>

    <table>
      <tbody>
        <% @users.each do |u| %>
        <tr>
          <td class="align-middle"><%= u.id %></td>
          <td class="align-middle"><%= link_to u.name, user_path(u.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>