
<h2>ランキング</h2>

    <table>
      <tbody>
        <% @user_ranking.each do |u| %>

        <tr>
          <td class="align-middle"><%= u.id %></td>
          <td class="align-middle"><%= link_to u.name, user_path(u.id) %></td>
           <td class="align-middle"><%= u.post_times.all.sum(:study_time) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>