<div class="weekranking">
  <div class="container">
    <div class="row">
      <div class="col-8">
<h2>週間学習時間ランキング</h2>

     <table class="table table-striped">
      <thead>
   <tr>
      <th>Ranking</th>
      <th>Image</th>
      <th>Name</th>
      <th>Time</th>
    </tr>
  </thead>
      <tbody>
        <% @user_ranking.each_with_index do |u,i| %>

        <tr>
        <td><%= i  + 1 %></td>
        <td><%= attachment_image_tag u, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image2.jpg", size: '60x60' %></td>
          <td class="align-middle"><%= link_to u.name, user_path(u.id) %></td>
           <td class="align-middle"><%= u.post_times.where(study_day:1.weeks.ago..Time.now).sum(:study_time) %>時間</td>

        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
</div>