<div class="container">
      <div class="row">
        <div class="col-4">
        </div>

<div class = "contact">
    <h1>お問合せ</h1>
    <div class = "contact-body">
<%= form_for(@contact) do |f| %>

    <div>タイトル</div>
    <%= f.text_field :contact_title %>

    <div>本文</div>
    <%= f.text_area :contact_message %>

    <%= f.submit '送信' %>

<% end %>
</div>
</div>
</div>
</div>
</div>
