<div class="container"style="padding: 20px;">
   <div class="row">
      <div class="col-3">
       </div>
      <div class="col-5">
		 <%= form_for(@medium) do |f| %>
		    <div class="form-group">
		      <%= f.label :"媒体" %>
		      <%= f.text_field :medium_name, class: "form-control" %>
		    </div>
		    <div>
		      <%= f.submit '追加', class:"btn btn-success" %>
		    </div>
		  <% end %>
		</div>
	</div>
</div>
