<div class="studypage"style="padding: 50px">
  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-10">
       <h2>このアプリはTOEIC学習に関する勉強方法の共有</h2><br>
       <h2>ユーザーの学習計画の作成、学習時間の管理を</h2><br>
       <h2>お手伝いをすることを目的としたアプリです。</h2><br>
       <h2>このアプリにおいて、目標達成のための時間が</h2><br>
       <h2>表示されますが、目安としての時間として</h2><br>
       <h2>参考程度にして頂くようお願い致します。</h2><br>

      </div>
  </div>
</div>
</div>