<div class="studypage">
  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-10">
       <h2>このアプリASTはTOEIC学習に関する勉強方法の共有</h2><br>
       <h2>学習計画の作成、管理を目的としたアプリです。</h2><br>

      </div>
  </div>
</div>
</div>