<h1>お問合せ一覧</h1>

 <table>
 <thead>
    <tr>
      <th> Title</th>
      <th> Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |c| %>

    <tr>

      <td><%= link_to c.contact_title, admin_contact_path(c.id) %></td>
      <td><%= c.contact_message %></td>

    </tr>
    <% end %>
  </tbody>
</table>