<h1>投稿一覧</h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th> Image</th>
      <th> Title</th>
      <th> Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @studies.each do |s| %>

    <tr>

      <td>
       <div>
        <%= attachment_image_tag s, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg",size: '50x50' %>
       </div>
      </td>
      <td><%= link_to s.study_title, admin_study_path(s.id) %></td>
      <td><%= s.review %></td>

    </tr>
    <% end %>
  </tbody>
</table>