<h2>タイトル</h2>
<p><%= @study.study_title %></p>
<h2>本文</h2>
<p><%= @study.review %></p>
<%= link_to "編集", edit_study_path(@study.id) %>
<%= link_to "削除", study_path(@study), method: :delete, "data-confirm" => "本当に消しますか？" %>