// Place all the styles related to the studies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav.pagination {
  display: none;
}

ul.study-list {
  padding: 0;
}
.slider{
    margin: 100px auto;
    height: 600;
    width: 300;
}
.slider img{
    height: auto;
    width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}