// Place all the styles related to the studies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav.pagination {
  display: none;
}

ul.study-list {
  padding: 0;
}
.slider{
    margin: 100px auto;
    height: 600;
    width: 300;
}
.slider img{
    height: auto;
    width: 100%;
}


.studypage{
	background-image: url("image5.jpg");
    padding-top: 10px;
    background-size:100% auto;
    }

.title{
    padding-bottom: 50px;
    }

.card{
    margin : 10px;
    }

.studydetail{
    background-image: url("image6.jpg");
    padding-top: 10px;
    background-size:100% auto;
    }


#smooth-scroll{
    text-align:right
    }
    h4 {
    background-color: rgba(255,255,0,0.5);
}

 h5 {
    background-color: rgba(255,255,255,0.5);
}