// Place all the styles related to the studies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav.pagination {
  display: none;
}

ul.study-list {
  padding: 0;
}


.studypage{
	background-color: #E6E7E8;
    padding-top: 10px;
    }

.title{
    padding-bottom: 50px;
    }

.studydetail{
    background-color: #E6E7E8;
    padding-top: 10px;
    background-size:100% auto;
    }


#smooth-scroll{
    text-align:right
    }


 .reviewer {
    background-color: rgba(255,255,255,0.5);
    width: 300px;
}

.studytitle {
    background-color: rgba(0,100,255,0.5);
}

.detailtitle {
    background-color: rgba(255,255,0,0.5);
}

 .detailbody {
    background-color: rgba(255,255,255,0.5);
}

