// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weekranking{
    background-image: url("image3.jpg");

    }

 .mypage{
    background-image: url("image1.jpg");
    padding-top: 10px;
    background-size:cover;

    }