// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weekranking{
    background-image: url("/images/image3.jpg");

    }

 .mypage{
    background-color: #E6E7E8;
    padding-top: 10px;
    }

.mypageindex {
    background-color: rgba(255,0,0,0.5);
}

.userranking {
    background-color: rgba(255,255,0,0.5);
    margin-top: 10px;
}